---
layout: default
---

# **Yanzhuang Su**

- **Address**: [School of Chemistry and Life Resources](https://clr.ruc.edu.cn/En/About_Us/index.htm), [Renmin University of China](https://www.ruc.edu.cn/cn/about/introduce.html).
  No.59 ZhongGuanCun Street, Haidian District, Beijing 100872, P.R. China.
- **E-mail**: [yanzhuangsu@outlook.com](mailto:yanzhuangsu@outlook.com)
- **Advisor**: Prof. [Wenzhen Lai](http://chem.ruc.edu.cn/szll/zzjs/wzjgzx/lwz_903ff1121c0649e59bf0c6aa0cb6834e/69c79f1e6a35433a88d24b1afb37b05c.htm)

## **Education**
* 9/2021—present M.S., Physical Chemistry in Renmin University of China
* 9/2017—6/2021 B.S., Chemistry in Northeast Petroleum University

## **Skills**
### _Computational-Chemistry:_
- Quantum Chemistry, QM/MM geometry optimizations, DFT Calculations, Molecular Dynamics Simulation.
  
### *Software:*
* For calculating: **Amber, ChemShell, Turbomole, Gaussian.**
* For data processing: **GaussView, ChimeraX, Office, Origin, ChemBioDraw, VMD.**

## **Research Experience**
### *Projects:*
* Engaged in the reaction mechanism of theoretical study of metalloenzyme mechanism with combined quantum mechanical and molecular mechanical (QM/MM) methods. (9/2021—present)
* Engaged in the research of the synthesis of superhydrophobic capsules and the construction of new material self-healing superhydrophobic surface coatings. (9/2018—6/2021)

### *Published work:*
* Unraveling the Mechanism of the Oxidative C–C Bond Coupling Reaction Catalyzed by Deoxypodophyllotoxin Synthase. **Yanzhuang Su**, Prof. Dr. Wenzhen Lai. _Inorg. Chem.,_ **2024**. DOI: [10.1021/acs.inorgchem.4c01263](https://doi.org/10.1021/acs.inorgchem.4c01263 "DOI URL")
* Mechanistic Insight into Peptidyl-Cysteine Oxidation by the Copper-Dependent Formylglycine-Generating Enzyme. Yao Wu, Cong Zhao, **Yanzhuang Su,** Prof. Dr. Sason Shaik, Prof. Dr. Wenzhen Lai. _Angew. Chem., Int. Ed.,_ **2022**. DOI: [10.1002/anie.202212053](https://doi.org/10.1002/anie.202212053 "DOI URL")
* Water-based Self-repairing Super-hydrophobic Coating and Preparation Method Thereof. Zhanjian Liu, Congyuan Zhang, **Yanzhuang Su,** Huaiyuan Wang, Chijia Wang, Kaka Li. _CN111892846A,_ **2020**. (PATENT)

### *Unpublished Research:*
* Mechanistic Insights into Andiconin Biosynthesis by a Nonheme Iron(II) and aKG-Dependent Oxygenase SptF. (The article is in the submission status)
* A QM/MM Study Reveals Reaction Mechanism of Anthraquinone Ring Cleavage by a Novel Non-Heme Iron-Dependent Oxygenase BTG13. (The first draft of the article has been completed)

## **Extracurricular Activities and Awards**
* Second-class Academic Scholarship of Renmin University of China (2023)
* First-class Academic Scholarship of Renmin University of China (2022)
* Outstanding Volunteer of the School of Science (2021)
* Second-class Academic Scholarship of Renmin University of China (2021)
* Merit Student of Northeast Petroleum University (2020)
* National Inspirational Scholarship of Northeast Petroleum University (2018&2019)
* Second-class Academic Scholarship of Northeast Petroleum University for three years (2017&2018&2019)
<!--stackedit_data:
eyJoaXN0b3J5IjpbMTA2ODM3NTMwNV19
-->





